PORT=8090
NODE_ENV=development

# Database Connection
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_database_password
DB_NAME='mova_db'

# Redis Connection
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT Authentication
JWT_SECRET=your_jwt_secret_key
REFRESH_TOKEN_DAYS=30

# Frontend URL
FRONTEND_URL=http://localhost:8074

# SMTP Mailer (Ethereal Dev / Production SMTP)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=yd3diswgwis2jv5e@ethereal.email
SMTP_PASS=yx2UW48vQMaxbPSCAV
SMTP_FROM='"MOVA Control Room" <noreply@mantakopi.com>'